@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



/* Names: Walnut brown, Golden brown, Night, Dim gray, Onyx
Hex Codes: #615545, #9B773D, #121112, #646263, #444243 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#121112;
    color: beige;
    font-weight: lighter;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.8%;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.5s ease-in-out;
}

header.scrolled {
    background-color:#121112;
    opacity: 0.98;

}

.navigation a {
    position: relative;
    font-size: 100%;
    color: #121112;
    font-weight: lighter;
    text-decoration: none;
    margin: 0.5%;
    padding: 6px 15px;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

header.scrolled .navigation a{
    color: white;
    opacity: 1;
}

.landing{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background:   #071013;
    padding: 2%;
}

.cover{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.cover_column{
    flex: 1;
    padding: 2%;
    min-width: 270px;
    align-items: center;
    justify-content: center;
}

.cover_column h1{
    font-size: 300%;
}

.cover_column h3{
    font-size: 150%;
}

.profile_img{
    float: right;
    width: 50%;
    border: 1vw;
    border-color: beige;
    border-style: double;
    padding: 1%;
    border-radius: 50%;
}

@media screen and (max-width: 650px){
    .profile_img{
        float: none;
    }
    .cover_column{
        padding: 3%;
    }
}

h1{
    font-size: x-large;
    font-weight: lighter;
}

h3{
    font-size: large;
    font-weight: lighter;
}

.quote{
    padding: 5%;
    font-weight: 100;
    font-size: large;
    text-align: center;
}

section{
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: medium;
}

.expertise{
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    padding: 1%;
    flex-flow: row wrap;
}

.column_skills{
    width: fit-content;
    font-weight: 400;
    font-size: 80%;
    padding: 1.2%;
    background: rgb(50, 50, 50);
    color: beige;
    margin: 1%;
    transition: 0.5s ease-in-out;
}

.column_skills:hover{
    font-size: medium;
}

.about{
    justify-content: center;
    align-items: center;
    background: rgb(36, 36, 36);
}

.column_about{
    vertical-align: middle;
    padding: 2%;
}

.column-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0px;
  }

.projects{

} 

.column{
    flex: 1;
    margin: 5px;
    position: relative;
    background: rgb(36, 36, 36);
    padding: 1%;
}

@media screen and (max-width: 680px) {
    .column-container .column {
        margin-bottom: 0.5%;
        flex-basis: 100%;
    }
}

.column img{
    width: 100%;
    height: auto;
    display: flex;
    filter: brightness(0.9);
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(36, 36, 36);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease;
    transition: .5 ease;
}

.overlay p{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.column:hover .overlay{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.contact{
    background: rgb(36, 36, 36);
}

.links{
    text-align: center;
    display: grid;
}

.links a{
    width: 70%;
    padding: 1%;
    background-color: #121112;
    color: beige;
    margin-left: 15%;
    margin-right: 15%;
    margin-block: 1%;
    text-decoration: none;
    font-weight: lighter;
}

footer{
    background-color: rgb(29,29,29);
    color: beige;
    font-weight: lighter;
    padding-top: 0.3%;
    padding-left: 0.2%;
    padding-right: 0.2%;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: beige;
}
